# Archivos de Python
__pycache__/
*.py[cod]
*.so

# Entornos virtuales
.env/
*.env
env/
venv/
venv311/
ENV/

# Configs locales
*.env
*.local
*.log

# IDEs / Sistema
.vscode/
.idea/
.DS_Store
Thumbs.db

# Twilio / Credenciales
*.twilio
*.pem

# Colab / Hugging Face
*.ipynb
*.ipynb_checkpoints
pytorch_model.bin
*.pt

# Cache / Modelos
cache/
models/

# Otros
*.csv
